.line2{
    border-left: 1px solid rgb(116, 116, 116);
    height: 100vh;
}

.html{
    display: flex; 
}

.posts-container{
    display: flex;
    width: 700px;
    height: 86.2vh; /* Высота блока */
    overflow-y: scroll;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Kanit-Light";
    margin-right: 50px;
}

.head{
    margin-top: 5%;
    margin-bottom: 5%;
}
.body{
    margin-left: 10vh;
}
.post-card{
    height: 70%;
    width: 100%;
    margin-bottom: 10%;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 1%;
    border: solid 1px rgb(116, 116, 116);
}

.post-card img{
    margin-top: 5%;
    height: 50%;
    width: 80%;
    border-radius: 10px;
    margin-left: 6.5%;
}

.post-title{
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px;
}

.post-button{
    background-color: rgb(239 243 244);
    border: solid 1px rgb(116, 116, 116);
    border-radius: 10px;
    font-size: 100%;
    font-family: "Kanit-Light";
    padding: 1.2%;
}

.post-button:hover{
    background-color: rgb(23, 201, 255);
    border: solid 1px rgb(116, 116, 116);
}